@import "../variables";

.word-categories {
  margin-top: 2rem;
  .title {
    text-wrap: balance;
    font-size: $fs-700;
    color: $clr-primary;
    font-family: $ff-accent;
    font-weight: 500;
    letter-spacing: 0.015rem;
  }
  .categories-list {
    margin-top: 1rem;
    display: grid;
    gap: 0.6rem;
    grid-template-columns: 1fr 1fr 1fr;
    .category {
      width: 100%;
      aspect-ratio: 1/1;
      border-radius: 0.3rem;
      cursor: pointer;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;
      p {
        text-align: center;
        font-weight: 600;
        font-size: $fs-800;
        color: $clr-surface;
        font-family: $ff-accent;
      }
    }
  }
  .categories-nav {
    margin-top: 1rem;
    display: flex;
    justify-content: right;
    gap: 0.4rem;
    .left-arrow,
    .right-arrow {
      width: 1.2rem;
      cursor: pointer;
    }
    .left-arrow {
      rotate: 90deg;
    }
    .right-arrow {
      rotate: -90deg;
    }
  }
}
@media screen and (width < 425px) {
  .word-categories .categories-list {
    grid-template-columns: 1fr 1fr;
  }
}
