@import "../variables";

.advantage {
  padding: 2.5rem 1.3rem 1.8rem 1.3rem;
  width: 100%;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__title {
    padding-top: 10px;
    color: $clr-primary;
    font-family: $ff-accent;
    font-size: $fs-800;
    text-wrap: balance;
    text-align: center;
  }
  &__description {
    color: $clr-text;
    font-size: $fs-500;
    font-weight: 300;
    text-wrap: balance;
    text-align: center;
  }
  .learn-more {
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    gap: 2px;
    cursor: pointer;
    p {
      font-size: $fs-300;
      font-weight: 500;
      color: $clr-primary;
      translate: 0 3px;
      opacity: 0;
      visibility: hidden;
    }
    .arrow {
      width: 20px;
    }
    &:hover {
      p {
        opacity: 1;
        visibility: visible;
        translate: 0 0;
      }
    }
  }
  &[data-type="primary"] {
    background: $clr-primary;
    .advantage__title,
    .advantage__description {
      color: #fff;
    }
    advantage__title .learn-more p {
      color: #fff;
    }
  }
}
