@import "../variables";

.log-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  .forgot {
    font-size: $fs-400;
    font-weight: 500;
    color: $clr-primary;
    align-self: flex-end;
    margin-bottom: 1rem;
    cursor: pointer;
  }
}
