@import "../variables";

.rules {
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4 {
      cursor: pointer;
      color: $clr-primary;
    }
    button {
      background: none;
    }
  }
  .rules__list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    li {
      margin-left: 0.5rem;
      display: flex;

      &::before {
        content: "• ";
        color: $clr-primary;
        display: block;
        width: 1rem;
        font-weight: bold;
      }
    }
  }
}
