@import "../variables";

.words-found {
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4 {
      cursor: pointer;
      color: $clr-primary;
    }
    button {
      background: none;
    }
  }
  .words {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    p {
      width: fit-content;
      color: $clr-text;
      font-weight: 600;
      cursor: default;
      &:hover {
        color: $clr-primary;
      }
    }
  }
}
