@import "../variables";

.sign-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  .field {
    width: 100%;
    height: 2.8rem;
    padding-inline: 0.5rem;
    background: $clr-secondary;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 0.3rem;
    font-size: $fs-400;
    &::placeholder {
      font-size: $fs-400;
      color: $clr-primary;
      opacity: 0.8;
    }
  }
  .submit {
    display: block;
    margin: 2rem auto 0 auto;
    width: 60%;
  }
}
