@import "../variables";
.accordion {
  width: 100%;
  .head {
    cursor: pointer;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-bottom: 1px solid $clr-secondary;
  }
  .body-wrapper {
    overflow: hidden;
    .body {
      padding: 1rem 0.5rem;
    }
  }
}
