@import "../variables";
.tabs {
  width: 100%;
  .tabs-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    .tab {
      cursor: pointer;
      display: block;
      position: relative;
      text-align: center;
      line-height: 2.5rem;
      text-transform: uppercase;
      font-weight: 600;
      font-family: $ff-accent;
      letter-spacing: 0.05rem;
      color: $clr-primary;
    }
  }
  .tab-content {
    margin-top: 1rem;
  }
}
