.validathion-message {
  width: 100%;
  .message {
    color: #cf000f;
    font-size: 0.8rem;
    letter-spacing: 0.02rem;
    text-align: left;
    width: 100%;
    padding-left: 2.5rem;
    margin-top: 0.4rem;
  }
}
