@use "../mixins";
@import "../variables";

.dashboard {
  padding: 2rem 1.3rem;
  overflow-y: hidden;
  .logo {
    display: block;
    width: 52%;
    margin: 0 auto 2rem auto;
    overflow: hidden;
  }
}
