@import "../variables";

.home {
  overflow: hidden;
  .main-section {
    padding: 2rem 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
    .logo {
      width: 52%;
      cursor: pointer;
    }
    .slogan {
      font-size: $fs-800;
      width: 100%;
      line-height: 120%;
      font-weight: 500;
      color: $clr-text;
      font-family: $ff-accent;
      span {
        font-family: $ff-accent;
        color: $clr-primary;
      }
    }
    .details {
      font-size: $fs-500;
      line-height: 140%;
      span {
        color: $clr-primary;
      }
    }
    .searching-img {
      width: 12.5rem;
    }
  }
}
