@use "../mixins";
@import "../variables";

.log-in {
  align-self: center;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  padding-inline: 1.3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  .logo {
    width: 60%;
    align-self: center;
  }

  .sign-up {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    p {
      font-size: $fs-400;
    }
    button {
      color: $clr-primary;
      background: transparent;
      padding: 0.5rem 0.8rem;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      transition: background 0.2s ease-in-out;
      &:hover {
        background: rgba(84, 166, 141, 0.2);
      }
    }
  }
}
