@import "../variables";

.password-reset {
  margin: 2rem 1.3rem;
  h2 {
    color: $clr-primary;
    font-family: $ff-accent;
    font-size: $fs-800;
    text-align: center;
    margin-top: 2rem;
  }
  .reset-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    .label {
      text-align: center;
      // text-wrap: balance;
    }
  }
}
