@import "../variables";

.puzzle-results {
  padding: 2rem 1.3rem;
  .title {
    color: $clr-primary;
    text-align: center;
  }
  .progress-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .answers {
    width: fit-content;
    display: block;
    margin-inline: auto;
    cursor: pointer;
    font-weight: 600;
    color: $clr-text;
    transition: 0.1s ease-in-out;
    &:hover {
      color: $clr-primary;
    }
  }
  .new-game {
    display: block;
    width: 80%;
    margin-inline: auto;
    margin-top: 1.5rem;
  }
}
