@import "../variables";

.quizzes {
  padding: 2rem 1.3rem;
  .title {
    text-align: center;
  }
  .quizzes-list {
    margin-top: 2rem;
    .quizzes-title {
      margin-bottom: 0.5rem;
      color: $clr-primary;
    }
  }
}
