@import "../variables";
.sign-up {
  display: flex;
  align-items: center;
  padding-inline: 1.3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  .content {
    width: 100%;
    .logo {
      width: 60%;
      display: block;
      margin: 0 auto 2rem auto;
    }
    .log-in {
      margin-top: 2.4rem;
      text-align: center;
      font-size: $fs-400;
      a {
        color: $clr-primary;
        font-weight: 500;
      }
    }
  }
}
