@use "../mixins";
@import "../variables";

.test-page {
  padding: 2rem 1.3rem;
  .text {
    line-height: 130%;
    letter-spacing: 0.1rem;
  }
  .rate {
    width: fit-content;
    display: flex;
    align-items: center;
    // gap: 4px;
  }
  .wrapper {
    position: relative;
  }
  .pop {
    width: 7rem;
    background-color: $clr-secondary;
    background: rgba(218, 223, 236, 0.85);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(218, 223, 236, 0.3);
    padding: 0.7rem;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    bottom: 3rem;
    .options {
      margin-top: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      li {
        cursor: pointer;
        border-bottom: 1px solid $clr-primary;
        padding-bottom: 0.1rem;
        &:hover {
          color: $clr-primary;
        }
      }
    }
  }
}
