@use "../mixins";
@import "../variables";

.test-page {
  padding: 2rem 1.3rem;
  .text {
    line-height: 130%;
    letter-spacing: 0.1rem;
  }
  .rate {
    width: fit-content;
    display: flex;
    align-items: center;
    // gap: 4px;
  }
}
