@import "../variables";
.word-details {
  margin-bottom: 2rem;
  .word-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1.3rem;
    background-image: url("../../images/word-background.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .word {
      color: $clr-surface;
      flex: 0 1 90%;
    }
    .word-nav {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 0.5rem;
      flex: 0 1 10%;
      .icon {
        cursor: pointer;
      }
    }
  }
  .nav {
    padding-inline: 1.3rem;
    height: 3rem;
    .tabs {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      .tab {
        line-height: 2.4rem;
        color: $clr-primary;
        text-transform: uppercase;
        font-weight: 600;
        font-family: $ff-accent;
        letter-spacing: 0.05rem;
        position: relative;
        cursor: pointer;
      }
    }
  }
}
.active-line {
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: $clr-accent;
}
