@import "../variables";

.word-puzzle {
  padding: 2rem 1.3rem;
  overflow: hidden;
  .logo {
    display: block;
    width: 60%;
    margin: 0 auto 1.3rem auto;
  }
  .title {
    color: $clr-primary;
    text-align: center;
  }

  .end {
    margin: 1rem 7rem;
  }

  .rules {
    .head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h4 {
        cursor: pointer;
        color: $clr-primary;
      }
      button {
        background: none;
      }
    }
    .rules__list {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      li {
        margin-left: 0.5rem;
        display: flex;

        &::before {
          content: "• ";
          color: $clr-primary;
          display: block;
          width: 1rem;
          font-weight: bold;
        }
      }
    }
  }
}

@media screen and (width < 768px) {
  .word-puzzle {
    .end {
      margin: 1rem 5rem;
    }
  }
}
