// Colors
$clr-text: #180e0c;
$clr-surface: #fcf9f8;
$clr-primary: #3f707d;
$clr-secondary: #dadfec;
$clr-accent: #54a68d;

$ff-primary: "Montserrat", sans-serif;
$ff-accent: "Barlow Condensed", sans-serif;

/* Step -1: 10.00px → 11.67px */
$fs-300: clamp(0.625rem, 0.5952rem + 0.1491vw, 0.7294rem);

/* Step 0: 12.00px → 14.00px */
$fs-400: clamp(0.75rem, 0.7143rem + 0.1786vw, 0.875rem);

/* Step 1: 14.40px → 16.80px */
$fs-500: clamp(0.86rem, 0.8565rem + 0.214vw, 1rem);

/* Step 2: 17.28px → 20.16px */
$fs-600: clamp(1.08rem, 1.0286rem + 0.2571vw, 1.26rem);

/* Step 3: 20.74px → 24.19px */
$fs-700: clamp(1.2963rem, 1.2346rem + 0.308vw, 1.5119rem);

/* Step 4: 24.88px → 29.03px */
$fs-800: clamp(1.555rem, 1.4809rem + 0.3705vw, 1.8144rem);

/* Step 5: 29.86px → 34.84px */
$fs-850: clamp(1.8663rem, 1.7773rem + 0.4446vw, 2.1775rem);

/* Step 6: 35.83px → 41.80px */
$fs-900: clamp(2.2394rem, 2.1328rem + 0.533vw, 2.6125rem);

/* Step 7: 43.00px → 50.16px */
$fs-950: clamp(2.6875rem, 2.5596rem + 0.6393vw, 3.135rem);
